.contact {

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__form {
        
        background-image: linear-gradient(-135deg, var(--primary), var(--secondary));
        border-radius: var(--block-radius);
        padding: 6rem 5rem;

        color: #fff;

        label {
            display: block;

            h4 {
                margin-bottom: 0.5rem;
            }

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

        }

        input {
            border: none;
            border-radius: .5rem;
            height: 3.5rem;
            display: block;
            width: 30rem;
            padding: 1rem;

            &:focus {
                outline: none;
            }
        }

    }

}