.hero {

    background-color: var(--primary);
    background-image: linear-gradient(-135deg, var(--tertiary), var(--primary));

    border-radius: var(--block-radius);
    position: relative;

    &__content {
        padding: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 10;

        @include respond(tab-port) {
            padding-bottom: 30rem;
        }

        @include respond(phone) {
            padding: 8rem 4rem 20rem 4rem;
        }
    }

    &__jumbo {
        font-size: 13rem;
        line-height: 1.1;

        @include respond(tab-port) {
            font-size: 10rem;
        }

        @include respond(phone) {
            font-size: 7.5rem;
        }

        span {
            display: block;
            @include respond(tab-port) {
                display: inline;
            }
        }
    }

    &__tagline {
        margin-top: 2rem;
        font-size: 3rem;
    }

    &__subtitle {
        color: #fff;
        font-family: $quote-font;
        font-style: italic;
        font-size: 3rem;
    }

    &__cta.btn {
        margin-top: 4rem;
        align-self: flex-start; 
        padding: 1.2rem 3rem;
        font-size: 1.4rem;
        font-weight: bold;

        &, &:link, &:visited {
            color: var(--font-color);
            border-width: 3px;

            &:hover {
                background-color: var(--font-color);
                border-color: var(--font-color);
                color: var(--primary);
            }
        }
    }

    &__illustration {
        position: absolute;
        height: 100%;

        bottom: 0;
        right: 0;

        display: flex;
        align-items: flex-end;
        

        img {
            display: block;
            max-height: 90%;
            transform: translate(8rem, 8rem);

            @include respond(tab-land) {
                height: 75%;
            }

            @include respond(tab-port) {
                height: 45rem;
                transform: translate(4rem, 8rem);
            }

            @include respond(phone) {
                transform: translate(2rem, 10rem);
                height: auto;
                width: 100%;
            }
        }
    }

}


.overview {

    margin-top: 20rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 10rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }


    &__quote {
        grid-column: 1 / -1;

        @include respond(tab-port) {
            grid-row: 3 / 4;
        }
    }


    &__image {

        display: flex;
        align-items: center;

        img {
            width: 80%;
            user-select: none;

            @include respond(tab-port) {
                width: 60%;
            }
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            justify-content: center;
        }

    }

    &__title {
        font-size: 4.8rem;
        line-height: 1.1;
        color: var(--secondary);
    }


    &__divider {
        margin: 4rem 0;
    }

    
    &__text {
        line-height: 2.2;
        font-size: 1.8rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

}


.quote {

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 3rem;

    max-width: 60rem;
    
    &__divider {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        height: 100%;
        width: 4px;
        margin: 0;

        background-color: var(--secondary);
    }

    &__text {
        font-family: $quote-font;
        font-style: italic;
        font-size: 2.4rem;
        line-height: 4rem;
        padding-top: 1.5rem;
    }

    &__author {
        font-family: $quote-font;
        font-size: 2rem;
        line-height: 4rem;
        padding-bottom: 1.5rem;
    }

}