.pricing {

    margin: 20rem 0 40rem 0;


    &__hero {
        margin-bottom: 10rem;
    }

    &__quote {
        display: block;

        .quote__text {
            line-height: 1.7;
            font-size: 3rem;
        }
    }

    &__cards {
        margin-top: 15rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6rem;
    }

}

.card {

    padding: 5rem 4rem;
    border-radius: calc( var(--block-radius) * .75 );
    color: #fff;
    position: relative;

    &__title {
        font-size: 2.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    &__list {
        list-style: none;
        margin-top: 2rem;

        li {
            font-size: 2.8rem;
            font-family: $heading-font;
            font-weight: 200;
        }
    }

    &__button {
        margin-top: 5rem;

        a.btn {
            &, &:link, &:visited {
                color: #fff;
            }
        }
    }


    &--pricing {
        background-image: linear-gradient(-135deg, var(--primary), var(--secondary));

        .card__title {
            margin-bottom: 0;
        }

        img {
            position: absolute;
            width: calc( 100% + 5rem );
            left: -2.5rem;
            bottom: -10rem;
        }
    }

    &--options {
        background-image: linear-gradient(-135deg, var(--tertiary), var(--primary));
    }

    &--discounts {
        background-color: $font-color;
        p:not(.card__button) {
            font-size: 1.8rem;
            line-height: 2.2;
        }

    }

}


.cost {
    font-weight: 200;
    font-size: 4.4rem;

    &__subtitle {
        font-weight: 400;
        font-size: 2.2rem;
        opacity: .5;
    }
}

.insurance {
    font-style: italic;
    font-size: 1.8rem;
}